* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh; /*para centralizar no centro da tela*/
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #171430, white);
}

.container {
    display: flex;
    width: 90%;
    max-width: 900px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.lado-esquerdo {
    width: 50%;
    background-color: #171430;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lado-esquerdo h1 {
    margin-bottom: 10px; /*margim de cima*/
    font-weight: 700;
}

.lado-esquerdo p {
    line-height: 1.5;
    font-weight: 700;
}

/*lado do formulario*/
.lado-direito {
    width: 50%;
    padding: 30px;
}

.lado-direito h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #171430;
}

/*campos do formulario*/

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.row {
    display: flex;
    gap: 5px;
}

.row .form-group {
    width: 50%;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #171430;
    border-radius: 15px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: 0.7s;
}

.btn:hover {
    background-color:  #cacacd;
    color: #171430;
    font-weight: 700;
}

.link {
    text-align: center;
    margin-top: 10px;
}

.link a {
    text-decoration: none;
    color: #171430;
    font-weight: 700;
}

.link a:hover {
    text-decoration: underline;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    .container {
      flex-direction: column; /* empilha no mobile */
    }
  
    .lado-esquerdo, .lado-direito {
      width: 100%; /* ocupa toda largura */
    }
  
    .row {
      flex-direction: column; /* campos ficam um embaixo do outro */
    }
  
    .row .form-group {
      width: 100%;
    }
  }